In [1]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# Importing the dataset
dataset = pd.read_csv('./datasets/auto.csv')
dataset.head(5)

,NAME,CYLINDERS,DISPLACEMENT,HORSEPOWER,WEIGHT,ACCELERATION,MPG
0,chevrolet chevelle malibu,8,307.0,130,3504,12.0,18.0
1,buick skylark 320,8,350.0,165,3693,11.5,15.0
2,plymouth satellite,8,318.0,150,3436,11.0,18.0
3,amc rebel sst,8,304.0,150,3433,12.0,16.0
4,ford torino,8,302.0,140,3449,10.5,17.0

In [3]:
dataset=dataset.drop(columns=['NAME'])
dataset.head(5)
dataset= dataset.apply(pd.to_numeric, errors='coerce')
dataset.fillna(0, inplace=True)
dataset

     CYLINDERS  DISPLACEMENT  HORSEPOWER  WEIGHT  ACCELERATION   MPG
0            8         307.0       130.0    3504          12.0  18.0
1            8         350.0       165.0    3693          11.5  15.0
2            8         318.0       150.0    3436          11.0  18.0
3            8         304.0       150.0    3433          12.0  16.0
4            8         302.0       140.0    3449          10.5  17.0
..         ...           ...         ...     ...           ...   ...
393          4         140.0        86.0    2790          15.6  27.0
394          4          97.0        52.0    2130          24.6  44.0
395          4         135.0        84.0    2295          11.6  32.0
396          4         120.0        79.0    2625          18.6  28.0
397          4         119.0        82.0    2720          19.4  31.0

[398 rows x 6 columns]

In [4]:
y=dataset['MPG']
X=dataset.drop(columns=['MPG'])
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
#from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)

In [5]:
from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor(max_depth=3)
regressor.fit(X_train, y_train)

DecisionTreeRegressor(max_depth=3)

In [6]:
# Predicting the Test set results
y_pred = regressor.predict(X_test)

In [7]:
from sklearn.metrics import mean_squared_error
from math import sqrt
sqrt(mean_squared_error(y_test, y_pred))

4.464255966462036